$mobile-sm: 320px;
$mobile: 360px;
$landscape-sm: 768px;
$landscape-lg: 1000px;
$desktop: 1200px;
$desktop-hd: 1920px;
$roboto: 'Roboto', sans-serif;
$robotoC: 'Roboto Condensed', sans-serif;

html {
	overflow-x: hidden;
}

body {
	overflow-x: hidden;
	font-family: $roboto;
	@media screen and (min-width: $landscape-lg) {
		// overflow-x: auto;
	}
}
a {
	text-decoration: none;
	transition: all 0.3s linear;
}
.slick-slide {
	outline: none;
}
.input-error {
	border: 2px solid red!important;
}
/*Header*/
header {
	width: 100%;
	min-height: 70px;
	background-color: #4A535A;
	padding: 10px 0;
	font-family: $robotoC;
	@media screen and (min-width: $landscape-sm) {
		padding: 0;
	}
	@media screen and (min-width: $landscape-lg) {
		padding: 0;
	}
	@media screen and (min-width: 1024px) {
		min-height: auto;
	}
}
.header__section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	min-height: 70px;
	@media screen and (min-width: $landscape-sm) {
		flex-direction: row;
	}
	@media screen and (min-width: 1024px) {
		justify-content: space-between;
		min-height: auto;
	}
	&__logo {
		width: 100%;
		max-width: 110px;
		margin-bottom: 0;
		@media screen and (min-width: $landscape-sm) {
			max-width: 132px;
		}

		img {
			width: 100%;
		}
	}
	&__adress {
		width: 100%;
		position: relative;
		max-width: 240px;
    padding-left: 35px;
		font-size: 16px;
		line-height: 18px;
		color: #fff;
		margin-bottom: 15px;
		@media screen and (min-width: 1024px) {
			margin-bottom: 0px;
		}
		&::before {
			content: '';
			position: absolute;
			width: 23px;
			height: 33px;
			background-image: url(../img/header-section-adress-icon.svg);
			background-position: center;
			background-size: 23px;
			background-repeat: no-repeat;
			top: 0;
			left: 0;
		}
	}
	&__callback__btn {
		display: block;
		width: 100%;
		max-width: 260px;
		background-color: #FDB715;
		border: none;
		border-bottom: 5px solid #B6720D;
		outline: none;
		text-align: center;
		font-size: 20px;
		line-height: 22px;
		color: #26343F;
		padding-top: 12px;
		padding-bottom: 12px;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
		cursor: pointer;
		margin-bottom: 15px;
		@media screen and (min-width: 1024px) {
			margin-bottom: 0px;
			max-width: 210px;
		}
		@media screen and (min-width: $desktop) {
			max-width: 260px;
		}
	}
	&__contacts {
		width: 100%;
		max-width: 295px;
		position: relative;
		background-color: #68737A;
		margin-bottom: 15px;
		@media screen and (min-width: $landscape-sm) and (max-width: 1023px) {
			width: 100%;
			max-width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-around;
			margin-bottom: 0px;
		}
		@media screen and (min-width: 1024px) {
			margin-bottom: 0;
		}

		.slider__banner__wrap {
			display: block;
			top: 242px;
			left: 0;
			right: auto;
			bottom: auto;

			@media screen and (min-width: 1200px) {
				left: 0;
				right: auto;
			}
		}

		.slider__banner {
			padding-bottom: 103px;

			@media screen and (min-width: 1200px) {
				padding-bottom: 96px;
			}

			@media screen and (min-width: 1300px) {
				padding-bottom: 90px;
			}
		}


		&__phone {
			display: block;
			width: auto;
			text-align: center;
			font-size: 20px;
			line-height: 36px;
			font-weight: bold;
			color: #fff;
			@media screen and (min-width: 1024px) {
				font-size: 30px;
				width: auto;
				margin: 0;
			}
			@media screen and (min-width: $landscape-sm) and (max-width: 1023px) {
				font-size: 24px;
				width: auto;
				margin: 0;
			}
		}
		&__mail {
			display: block;
			width: 100%;
			text-align: center;
			font-size: 20px;
			line-height: 24px;
			color: #fff;
			margin-bottom: 20px;
			@media screen and (min-width: $landscape-sm) and (max-width: 1023px) {
				margin-bottom: 0;
			}
		}
	}
	&__contacts__worktime {
			width: 100%;
			position: relative;
			background-color: #f5f5f5;
			padding: 24px 10px 12px 83px;
			font-size: 16px;
			line-height: 18px;
			color: #4A535A;
			@media screen and (min-width: 1024px) {
				background-color: rgba(0, 0, 0, 0.1);
				position: absolute;
				bottom: -70px;
				left: 0;
				z-index: 10;
			}
			&::before {
				content: '';
				position: absolute;
				width: 27px;
				height: 27px;
				background-image: url(../img/header-section-worktime-icon.svg);
				background-position: center;
				background-size: 27px;
				background-repeat: no-repeat;
				 top: 29px;
    		 left: 35px;
			}
		}

	.mob__hide {
		display: none;

		@media screen and (min-width: 1024px) {
			display: block;
		}
	}

	.mob__show {
		display: block;

		@media screen and (min-width: 1024px) {
			display: none;
		}
	}
}
/*Header END*/

/*Menu*/
.hamburger {
  padding: 15px 5px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  outline: none;
  margin: 0;
  overflow: visible;
  position: relative;

  &::before {
  	content: "";
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	width: 100%;
  	height: 1px;
  	background-color: #fff;
  } 

  @media screen and (min-width: 480px) {
		padding: 15px;
  }
}
.hamburger-box {
  width: 30px;
  height: 20px;
  display: inline-block;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; 
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; 
}
.hamburger-inner::before {
  top: -10px; 
}
.hamburger-inner::after {
  bottom: -10px; 
}
.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear; 
}
.hamburger--spring .hamburger-inner::before {
  top: 8px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}
.hamburger--spring .hamburger-inner::after {
  top: 16px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}

.hamburger--spring.is-active .hamburger-inner {
transition-delay: 0.22s;
background-color: transparent; 
}
.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(45deg); 
}
.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(-45deg); 
}
.mob__menu {
	width: 100%;
	max-width: 40px;
	background-color: #fff;
	// @media screen and (min-width: $landscape-sm) {
	// 	margin-top: 70px;
	// }
	@media screen and (min-width: 480px) {
		max-width: 60px;
	}

	@media screen and (min-width: 1024px) {
		display: none;
	}

	&__wrap {
		display: flex;
		position: relative;
		z-index: 2;
	}

	&__side__content {
		display: none;
		width: 88%;
		max-height: 54px;
		align-items: center;
		justify-content: space-between;
		background-color: #4a535a;
		flex-shrink: 0;
		padding: 0;
		padding-left: 7px;

		@media screen and (min-width: 480px) {
			width: calc(100% - 60px);
			padding: 0 20px;
		}

		@media screen and (min-width: $landscape-sm) {
			// width: 100%;
		}

		@media screen and (min-width: 1024px) {
			display: none;
		}

		.header__section__logo {
			max-width: 105px;

			@media screen and (min-width: 480px) {
				max-width: 112px;
			}
		}

		.header__section__contacts__phone {
			font-size: 16px;

			@media screen and (min-width: 480px) {
				font-size: 20px;
			}
		}
	}
}
.menu {
	max-height: 100vh;
    overflow: auto;

	@media screen and (min-width: $mobile-sm) {
		display: none;
		padding-left: 15px;
		padding-top: 20px;
    	padding-bottom: 15px;
	}
	@media screen and (min-width: $landscape-sm) {
		max-height: 100%;
		overflow: inherit;
	}
	@media screen and (min-width: 1024px) {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin-top: 80px;
		padding-left: 0;
	}
	@media screen and (min-width: $desktop) {
		margin-top: 0;
		padding-top: 35px;
	}
	&__item {
		display: block;
		width: 100%;
		margin-bottom: 15px;
		font-family: $robotoC;
		font-size: 16px;
		line-height: 19px;
		font-weight: bold;
		color: #333;
		text-transform: uppercase;
		@media screen and (min-width: 1024px) {
			width: auto;
			margin-bottom: 0;
			margin-right: 35px;
		}
		&:hover {
			color: #FDB715;
		}
		&.special {
			position: relative;
			z-index: 5;
			color: #E1171F;

			@media screen and (min-width: 1024px) {
				color: #fff;
			}

			&::before {
				content: '';
				display: none;
				position: absolute;
				width: 100%;
				height: 40px;
				background-color: #E1171F;
				border-bottom: 5px solid #B01D23;
				box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
				top: -10px;
    			left: -10px;
				z-index: -1;

			   	@media screen and (min-width: 1024px) {
					display: block;
				}

				@media screen and (min-width: 1024px) {
					width: 93px;
					left: -24px;
				}
			}
		}

		&.mob__hide {
			display: none;

			@media screen and (min-width: 1024px) {
				display: block;
			}
		}
	}
	&__soc {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
		margin-bottom: 15px;
		@media screen and (min-width: $landscape-sm) {
			justify-content: flex-start;
		}
		@media screen and (min-width: 1024px) {
			position: fixed;
			width: 150px;
			top: 210px;
			right: 0;
			flex-direction: column;
			align-items: flex-end;
			z-index: 11;
			margin-bottom: 0;
		}
		@media screen and (min-width: $desktop) {
			top: 140px;
		}
		&__item {
			display: block;
			width: 37px;
			height: 37px;
			border-radius: 50%;
			background-color: #6A7D8B;
			background-position: center;
			background-repeat: no-repeat;
			font-size: 0;
			@media screen and (min-width: $landscape-sm) {
				margin-right: 15px;
			}
			@media screen and (min-width: 1024px) {
				margin: 0;
				margin-bottom: 10px;
				border-radius: 50px 0 0 50px;
				width: 56px;
				background-position: 10px center;
			}
			&.vk {
				background-image: url(../img/vk.svg);
				background-size: 20px;
			}
			&.fb {
				background-image: url(../img/fb.svg);
				background-size: 10px;
			}
			&.inst {
				background-image: url(../img/inst.svg);
				background-size: 20px;
			}
		}
	}

	.header__section__contacts__mail,
	.header__section__adress {
		color: #4a535a;
	}

	.header__section__adress {
		padding-left: 0;
		margin-bottom: 15px;

		&::before {
			display: none;
		}
	}

	.header__section__contacts__mail {
		text-align: left;
		margin-bottom: 15px;

		&::before {
			display: none;
		}
	}

	.header__section__contacts__worktime {
		background-color: #fff;
		padding: 0;

		&::before {
			display: none;
		}
	}

	.mob__hide {
		display: none;

		@media screen and (min-width: 1024px) {
			display: block;
		}
	}

	.mob__show {
		display: block;

		@media screen and (min-width: 1024px) {
			display: none;
		}
	}
}
/*Menu END*/

/*Top slider*/
.top__slider__wrap {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	position: relative;
}
.top__slider {
	&__item {
		min-height: 360px;
		padding-top: 25px;
		padding-bottom: 25px;
		padding-left: 10px;
		outline: none;
		@media screen and (min-width: $landscape-sm) {
			padding-left: 50px;
		}
		@media screen and (min-width: $desktop) {
			padding-top: 30px;
			padding-left: 70px;
			min-height: 530px;
		}
		&.slick-slide {

			&.slick-active {
				animation: fadeIn 2s linear;
			}
		}
		&__title {
			font-family: $robotoC;
			font-size: 24px;
			color: #26343F;
			font-weight: bold;
			line-height: 1.2em;
			margin-bottom: 10px;
			text-transform: uppercase;
			@media screen and (min-width: $landscape-sm) {
				font-size: 30px;
			}
			@media screen and (min-width: $landscape-lg) {
				font-size: 35px;
			}
			@media screen and (min-width: $desktop) {
				font-size: 48px;
				line-height: 56px;
			}
		}
		&__props {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;
			&__item {
				position: relative;
				font-size: 18px;
				line-height: 24px;
				color: #0D1F2E;
				margin-right: 27px;
				@media screen and (min-width: $landscape-lg) {
					line-height: 30px;
					margin-right: 60px;
				}
				@media screen and (min-width: $desktop) {
					font-size: 20px;
				}
				@media screen and (min-width: 1300px) {
					font-size: 24px;
				}
				&::after {
					content: '';
					position: absolute;
					width: 13px;
					height: 13px;
					border-radius: 50%;
					background-color: #FDB715;
					top: 5px;
					right: -20px;
					@media screen and (min-width: $landscape-lg) {
						top: 10px;
						right: -35px;
					}
				}
				&:last-of-type {
					&::after {
						display: none;
					}
				}
			}
		}
		&__image {
			width: 100%;
			max-width: 300px;
			margin: 0 auto;
			margin-bottom: 15px;
			padding-top: 25px;
			@media screen and (min-width: $landscape-sm) {
				max-width: 610px;
				padding-top: 40px;
				margin: 0;
				margin-bottom: 15px;
			}

			@media screen and (min-width: $desktop) {
				max-width: 647px;
				padding-top: 60px;
				&.xl {
					max-width: 825px;
				}
			}
			img {
				display: block;
				margin-left: 30px;
				@media screen and (min-width: $mobile-sm) and (max-width: 767px) {
					max-width: 300px;
					margin: 0 auto;
				}
				@media screen and (min-width: $landscape-sm) {
					width: 100%;
				}
			}
		}
	}
	.slick-dots {
		max-width: 100px;
		bottom: 5px;
		transform: translateX(-50%);
		left: 50%;
		@media screen and (min-width: $landscape-lg) {
			bottom: 25px;
			left: 40%;
		}
		li {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			border: 2px solid #DBDBDB;
			background-color: #fff;
			transition: all 0.3s linear;
			&.slick-active {
				background-color: #DBDBDB;
			}
			button {
				display: none;
			}
		} 
	}
	&.slick-dotted.slick-slider {
		margin: 0;
	}
}
.slider__banner__wrap {
	display: block;
	width: 100%;
	@media screen and (min-width: 1024px) {
		display: none;
		max-width: 295px;
		position: absolute;
		bottom: 0px;
    right: 45px;
    z-index: 10;
	}
	@media screen and (min-width: 1200px) {
		right: 30px;
	}
	@media screen and (min-width: 1280px) {
		right: 70px;
	}
}
.slider__banner {
	width: 100%;
	max-width: 295px;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.1);
	padding-top: 80px;
	padding-bottom: 90px;
	@media screen and (min-width: $landscape-sm) and (max-width: 1023px) {
		max-width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
		padding-top: 20px;
		padding-bottom: 20px;
		.slider__banner__prop {
			max-width: 230px;
			margin-bottom: 0;
			&:nth-of-type(1),
			&:nth-of-type(2) {
				max-width: 200px;
			}
		}
		.slider__banner__prop__icon {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background-position: center;
		}
		.slider__banner__callback {
			margin-top: 20px;
		}
	}
	&__prop {
		width: 100%;
		margin-bottom: 15px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: nowrap;
		&__icon {
			width: 60px;
			height: 50px;
			border-radius: 0px 50px 50px 0px;
			background-color: #FDB715;
			margin-right: 12px;
			background-position: 70% center;
			background-repeat: no-repeat;
			background-size: 28px;
			&.tiraj {
				background-image: url(../img/tiraj.svg);
			}
			&.production {
				background-image: url(../img/time.svg);
			}
			&.key {
				background-image: url(../img/key.svg);
			}
		}
		&__descr {
			font-family: $robotoC;
			font-size: 17px;
			line-height: 20px;
			color: #0D1F2E;

			@media screen and (min-width: $desktop) {
				font-size: 18px;
				line-height: 22px;
			}
			@media screen and (min-width: 1300px) {
				font-size: 20px;
				line-height: 26px;
			}
		}
	}
	&__callback {
		display: block;
		width: 100%;
		max-width: 261px;
		padding-top: 18px;
		padding-bottom: 18px;
		padding-left: 50px;
		margin-right: -3px;
		margin-left: auto;
		margin-top: 40px;
		font-family: $robotoC;
		font-size: 16px;
		line-height: 26px;
		color: #fff;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		background-image: url(../img/banner-bg.png);
		background-position: right center;
		background-size: cover;
		background-repeat: no-repeat;
		border: none;
		outline: none;
    background-color: transparent;
    cursor: pointer;
		span {
			font-size: 30px;
		}
	}
}
.top__animated__arrow {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #FDB715;
	background-image: url(../img/top-animated-arrow.svg);
	background-position: center;
	background-size: 20px;
	background-repeat: no-repeat;
	bottom: -25px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 15;
	animation: animated 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both infinite;

	&.fixed {
		position: fixed;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
	}
}
@keyframes animated {
  0% {
    transform: translateY(-15px) translateX(-50%);
    opacity: 0.6;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  }
  50% {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: translateY(-15px) translateX(-50%);
    opacity: 0.6;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  75% {
	opacity: 1;
  }

  100% {
	opacity: 1;
  }
}
/*Top slider END*/

/*Top tabs*/
.top__tabs__wrap {
	width: 100%;
	position: relative;
	background-color: #4A535A;
	padding-top: 55px;
	padding-bottom: 55px;
}
.top__tabs {
	width: 100%;
	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
		@media screen and (min-width: $desktop) {
			justify-content: space-between;
		}
		&__item {
			width: 100%;
			max-width: 320px;
			margin-bottom: 25px;
			background-color: #fff;
			border-bottom: 5px solid #E6E6E6;
			padding-top: 17px;
			padding-bottom: 17px;
			text-align: center;
			font-family: $robotoC;
			font-size: 20px;
			line-height: 20px;
			color: #0D1F2E;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
			cursor: pointer;
			transition: all 0.3s linear;
			@media screen and (min-width: $mobile-sm) and (max-width: $landscape-lg) {
				max-width: 220px;
				padding-top: 12px;
    		padding-bottom: 12px;
    		font-size: 16px;
    		margin-bottom: 15px;
			}
			@media screen and (min-width: $landscape-lg) {
				max-width: 290px;
			}
			@media screen and (min-width: $desktop) {
				max-width: 360px;
			}
			&:hover,
			&.active {
				background-color: #FDB715;
				border-color: #B6720D;
			}
		}
	}
	&__content {
		width: 100%;
		padding-top: 60px;
		@media screen and (min-width: $mobile-sm) and (max-width: $landscape-lg) {
			padding-top: 20px;
		}
		&__item {
			width: 100%;
			display: flex;
			align-items: flex-start;
			justify-content: space-around;
			flex-wrap: wrap;
			@media screen and (min-width: $desktop) {
				justify-content: space-between;
			}
			&__image__block {
				width: 100%;
				max-width: 320px;
				@media screen and (min-width: $mobile-sm) and (max-width: 1199px) {
					order: 2;
					max-width: 100%;
				}
				img {
					width: 100%;
					max-width: 360px;
					margin-bottom: 30px;
					@media screen and (min-width: $mobile-sm) and (max-width: 1199px) {
						display: none;
					}
				}
				.tags {
					width: 100%;
					padding: 25px 20px;
					border-top: 2px solid #fff;
					text-align: center;
					@media screen and (min-width: $landscape-lg) {
						text-align: left;
					}
					a {
						
						display: inline-block;
						vertical-align: middle;
						font-family: $robotoC;
						font-size: 16px;
						line-height: 21px;
						font-style: italic;
						color: #fff;
						text-decoration: underline;
						margin-right: 15px;
						margin-bottom: 10px;
						@media screen and (min-width: $landscape-sm) {
							font-size: 18px;
						}
						&:hover {
							color: #FDB715;
						}
					}
				}
			}
			&__block {
				width: 100%;
				max-width: 750px;
				@media screen and (min-width: $mobile-sm) and (max-width: 999px) {
					order: 1;
				}
				&__title {
					font-family: $robotoC;
					font-weight: bold;
					font-size: 24px;
					line-height: 30px;
					text-align: center;
					text-transform: uppercase;
					color: #fff;
					margin-bottom: 0;
					@media screen and (min-width: $landscape-sm) {
						font-size: 35px;
						margin-bottom: 30px;
					}
					@media screen and (min-width: $desktop) {
						text-align: left;
					}
				}
				&__text {
					font-size: 14px;
					line-height: 21px;
					text-align: center;
					color: #fff;
					margin-bottom: 15px;
					@media screen and (min-width: $landscape-sm) {
						font-size: 18px;
						line-height: 23px;
					}
					@media screen and (min-width: $desktop) {
						text-align: left;
					}
				}
				&__attention {
					width: 100%;
					max-width: 450px;
					padding: 15px 17px;
					border: 1px solid #FFB800;
					line-height: 18px;
					font-size: 14px;
					color: #fff;
					@media screen and (min-width: $desktop) {
						margin-left: 290px;
    				margin-top: -60px;
					}
				}
			}
		}
	}
}
.top__tabs__content__prop__list {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 25px;
	@media screen and (min-width: $desktop) {
		justify-content: flex-start;
	}
}
.top__tabs__content__prop__item {
	width: 100%;
	max-width: 220px;
	margin-bottom: 25px;
	@media screen and (min-width: $desktop) {
		margin-bottom: 0;
		margin-right: 45px;
		&:nth-of-type(3n) {
			margin-right: 0;
		}
	}
	&__icon {
		width: 100%;
		height: 50px;
		margin-bottom: 15px;
		text-align: center;
		background-position: center;
		background-size: 52px;
		background-repeat: no-repeat;
		img {
			display: block;
			margin: 0 auto;
		}
	}
	&__title {
		width: 100%;
		text-align: center;
		font-size: 20px;
		line-height: 26px;
		color: #fff;
		font-weight: 500;
		margin-bottom: 25px;
		@media screen and (min-width: $mobile-sm) {
			font-size: 16px;
			line-height: 24px;
		}
		@media screen and (min-width: $landscape-sm) {
			font-size: 20px;
			line-height: 26px;
		}
	}
	&__list {
		position: relative;
		margin: 0;
		padding: 0;
		padding-top: 30px;
		list-style-type: none;
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 17px;
			background-image: url(../img/tabs-list-prev-bd.svg);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			top: 0;
			left: 0;
		}
		li {
			position: relative;
			padding-left: 20px;
			font-size: 14px;
			line-height: 26px;
			color: #fff;
			margin-bottom: 5px;
			@media screen and (min-width: $landscape-sm) {
				font-size: 16px;
			}
			&::before {
				content: '';
				position: absolute;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background-color: #FDB715;
				top: 9.5px;
				left: 0;
			}
		}
	}
}
/*Top tabs END*/

/*Consult form on page*/
.consult__form__wrap {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #F9B109;
	@media screen and (min-width: $landscape-lg) {
		min-height: 269px;
		background-image: url(../img/consult-bg.jpg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
}
.consult__form {
	width: 100%;
	position: relative;
	@media screen and (min-width: $landscape-sm) {
		text-align: center;
	}
	&__title {
		font-family: $robotoC;
		font-size: 36px;
		line-height: 46px;
		font-weight: bold;
		color: #0D1F2E;
		text-align: center;
		margin-bottom: 20px;
		span {
			display: block;
			font-size: 26px;
		}
	}
	&__input {
		width: 100%;
		max-width: 262px;
		margin: 0 auto;
		margin-bottom: 25px;
		@media screen and (min-width: $landscape-sm) {
			display: inline-block;
			vertical-align: top;
			margin-right: 40px;
		}
		input {
			display: block;
			width: 100%;
			border: none;
			outline: none;
			background-color: #fff;
			padding: 16px 15px;
			font-family: $robotoC;
			text-align: left;
			font-size: 18px;
			color: #6D6D6D;
			font-style: italic;
		}
	}
	&__button {
		width: 100%;
		max-width: 262px;
		margin: 0 auto;
		margin-bottom: 25px;
		@media screen and (min-width: $landscape-sm) {
			display: inline-block;
			vertical-align: top;
		}
		button {
			display: block;
			width: 100%;
			margin-bottom: 10px;
			border: none;
			outline: none;
			border-bottom: 5px solid #B01D23;
			padding: 12px 20px;
			background-color: #E1171F;
			font-family: $robotoC;
			font-size: 20px;
			line-height: 20px;
			text-align: left;
			color: #fff;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
			cursor: pointer;
		}
		p {
			font-family: $robotoC;
			font-size: 14px;
			line-height: 14px;
			color: #464646;
			font-style: italic;
			text-align: left;
			margin: 0;
			margin-bottom: 10px;
			a {
				color: #464646;
			}
		}
	}
}
/*Consult form on page END*/

/*Material block*/
.material__block__wrap {
	width: 100%;
	background-color: #fff;
	padding-top: 60px;
	padding-bottom: 60px;
	// >.container {
	// 	padding: 0;
	// }
}
.material__block {
	width: 100%;
	&__title {
		width: 100%;
		margin-bottom: 40px;
		font-family: $robotoC;
		font-size: 36px;
		line-height: 42px;
		color: #0D1F2E;
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
	}
	&__prev__text {
		font-size: 18px;
		line-height: 23px;
		color: #0D1F2E;
		text-align: center;
		margin-top: 0;
		margin-bottom: 35px;
		display: none;
	}
}
/*Material block END*/

/*Two sliders in a row Oh my GOSH!*/
.material__block__sliders {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-top: 30px;
	padding-bottom: 30px;
	@media screen and (min-width: $landscape-sm) {
		justify-content: space-between;
	}
}
.materail__block__tags__slider {
	width: 100%;
	max-width: 340px;
	margin-bottom: 50px;
	.slick-list {
		max-height: 577px;
		@media screen and (min-width: $mobile-sm) and (max-width: $landscape-lg) {
			max-height: 242px;
		}
	}
	.slick-track {
		margin-top: -1px;
	}
	&__item {
		outline: none;
		&.slick-current.slick-active {
			.materail__block__tags__slider__item__tag {
				background-color: #FDB715;
				color: #fff;
				@media screen and (min-width: $mobile-sm) {
					transform: translateX(10px);
				}
				@media screen and (min-width: $landscape-sm) {
					transform: translateX(20px);
				}
				&::before {
					border-color: transparent transparent transparent #FDB715;
				}
			}
		}
		&__tag {
			width: 100%;
			position: relative;
			max-width: 280px;
			padding: 13px 20px;
			padding-right: 0;
			background-color: #EBEBEB;
			font-size: 16px;
			line-height: 20px;
			font-weight: 500;
			color: #0D1F2E;
			cursor: pointer;
			transform: translateX(0px);
			transition: all 0.3s linear;
			&:hover,
			&.active {
				background-color: #FDB715;
				color: #fff;
				@media screen and (min-width: $mobile-sm) {
					transform: translateX(10px);
				}
				@media screen and (min-width: $landscape-sm) {
					transform: translateX(20px);
				}
				&::before {
					border-color: transparent transparent transparent #FDB715;
				}
			}
			&::before {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 23px 0 23px 35px;
				border-color: transparent transparent transparent #EBEBEB;
				top: 0;
				right: -35px;
				transition: all 0.3s linear;
			}
		}
	}
	/*Slick arrows styling*/
	.slick-next, .slick-prev {
		width: 27px;
		height: 27px;
		&::before,
		&::after {
			display: none;
		}
	}
	.slick-prev {
		border-top: 3px solid #D2D2D2;
		border-right: 3px solid #D2D2D2;
		transform: rotate(-45deg) translateX(-50%);
		top: -40px;
		left: 45%;
	}
	.slick-next {
		border-bottom: 3px solid #D2D2D2;
		border-right: 3px solid #D2D2D2;
		transform: rotate(45deg) translateX(-50%);
		top: auto;
		bottom: -40px;
		left: 45%;
	}
	/*Slick arrows styling END*/
}
.material__block__tags__content__slider {
	width: 100%;
	max-width: 750px;
	@media screen and (min-width: $landscape-sm) {
		max-width: 350px;
	}
	@media screen and (min-width: $landscape-lg) {
		max-width: 550px;
	}
	@media screen and (min-width: $desktop) {
		max-width: 750px;
	}
	&__item {
		width: 100%;
		&__image {
			width: 100%;
			position: relative;
			line-height: 0;
			img {
				width: 100%;
			}
		}
		&__text {
			width: 100%;
			background-color: #F2F2F2;
			padding: 10px 15px;
			display: flex;
			align-items: flex-start;
			justify-content: space-around;
			flex-wrap: wrap;
			@media screen and (min-width: $landscape-sm) {
				justify-content: flex-start;
			}
			@media screen and (min-width: $desktop) {
				padding: 30px 35px;
			}
		}
		&__title {
			width: 100%;
			font-size: 20px;
			line-height: 26px;
			color: #0D1F2E;
			font-weight: 500;
			margin-bottom: 25px;
		}
		&__list {
			width: 100%;
			max-width: 235px;
			margin: 0;
			margin-bottom: 15px;
			padding: 0;
			list-style-type: none;
			@media screen and (min-width: $landscape-lg) {
				margin-right: 30px;
			}
			li {
				position: relative;
				font-size: 16px;
				line-height: 18px;
				color: #0D1F2E;
				margin-bottom: 10px;
				padding-left: 20px;
				&::before {
					content: '';
					position: absolute;
					width: 8px;
					height: 8px;
					border-radius: 50%;
					background-color: #FDB715;
					top: 5px;
					left: 0;
				}
			}
		}
		&__descr {
			width: 100%;
			max-width: 350px;
			font-size: 16px;
			line-height: 21px;
			color: #0D1F2E;
			margin-top: 0;
			margin-bottom: 15px;
			@media screen and (min-width: $landscape-lg) {
				margin-bottom: 0;
			}
		}
	}
}

/*Two sliders in a row Oh my GOSH! END*/

/*Product types block*/
.products__types__wrap {
	display: none;
	width: 100%;
	background-color: #E5E5E5;
	padding-top: 45px;
	padding-bottom: 45px;
	@media screen and (min-width: 1024px) {
		display: block;
	}
}
.products__types {
	width: 100%;
	&__title {
		width: 100%;
		font-family: $robotoC;
		font-size: 36px;
		line-height: 42px;
		color: #0D1F2E;
		font-weight: bold;
		text-align: center;
		margin-bottom: 40px;
		text-transform: uppercase;
		span {
			display: block;
			font-family: $roboto;
			font-size: 26px;
			line-height: 34px;
			text-transform: none;
			margin-top: 10px;
		}
	}

	&__switch__info {
		position: relative;
	}
}
.products__types__tabs {
	width: 100%;
	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
		@media screen and (min-width: $desktop) {
			justify-content: space-between;
		}
		&__item {
			width: 100%;
			max-width: 280px;
			margin-bottom: 25px;
			background-color: #4A535A;
			border-bottom: 5px solid #27343E;
			padding-top: 17px;
			padding-bottom: 17px;
			text-align: center;
			font-family: $robotoC;
			font-size: 20px;
			line-height: 20px;
			color: #fff;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
			cursor: pointer;
			transition: all 0.3s linear;
			@media screen and (min-width: $desktop) {
				max-width: 360px;
			}
			&:hover,
			&.active {
				background-color: #FDB715;
				border-color: #B6720D;
				color: #26343F;
			}
		}
	}

	&__content {

		&__item {
			position: relative;
		}
	}
}
/*Product types block END*/

/*First order block*/
.first__order__wrap {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background-image: url(../img/first-order-banner.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.first__order__block {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
	@media screen and (min-width: $landscape-sm) {
		justify-content: center;
	}
	&__left {
		width: 100%;
		max-width: 216px;
		margin-bottom: 25px;
		border-top: 3px solid #fff;
		border-bottom: 3px solid #fff;
		padding-top: 20px;
		padding-bottom: 20px;
		font-family: $robotoC;
		font-size: 30px;
		line-height: 25px;
		color: #fff;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		@media screen and (min-width: $mobile-sm) and (max-width: 767px) {
			max-width: 150px;
			font-size: 20px;
		}
		@media screen and (min-width: $landscape-lg) {
			margin-right: 65px;
			margin-bottom: 0;
		}
		span {
			display: block;
			font-size: 130px;
			line-height: 130px;
			@media screen and (min-width: $mobile-sm) and (max-width: 767px) {
				font-size: 80px;
				line-height: 80px;
			}
		}
	}
	&__right {
		width: 100%;
		@media screen and (min-width: $mobile-sm) {
			
		}
		@media screen and (min-width: $landscape-lg) {
			max-width: 500px;
			padding-top: 0;
		}
		p {
			width: 100%;
			max-width: 410px;
    	margin-bottom: 22px;
			font-size: 18px;
			line-height: 23px;
			color: #fff;
			@media screen and (min-width: $mobile-sm) and (max-width: 767px) {
				max-width: 320px;
				margin: 0 auto;
				margin-bottom: 22px;
				font-size: 14px;
				text-align: center;
				br {
					display: none;
				}
			}
			@media screen and (min-width: $landscape-sm) {
				max-width: 420px;
				margin: 0 auto;
				margin-top: 22px;
				margin-bottom: 22px;
				text-align: center;
			}
			@media screen and (min-width: $landscape-lg) {
				margin: 0;
				margin-top: -4px;
				margin-bottom: 22px;
				text-align: left;
			}
		}
	}
	&__btn {
		display: block;
		border: none;
		outline: none;
		width: 100%;
		max-width: 262px;
		margin: 0 auto;
		background-color: #FFF;
		border-bottom: 5px solid #C6C7C7;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
		padding: 13px 0px;
		font-family: $robotoC;
		font-size: 20px;
		line-height: 20px;
		font-weight: bold;
		text-transform: uppercase;
		color: #E1171F;
		cursor: pointer;
		@media screen and (min-width: $mobile-sm) and (max-width: 767px) {
			max-width: 220px;
			font-size: 14px;
		}
		@media screen and (min-width: $landscape-sm) {
			margin: 0 auto;
		}
		@media screen and (min-width: $landscape-lg) {
			margin: 0;
		}
		span {
			font-size: 30px;
			@media screen and (min-width: $mobile-sm) and (max-width: 767px) {
				font-size: 25px;
			}
		}
	}
}
/*First order block END*/

/*Calculator block*/
.calculator__wrap {
	width: 100%;
	background-color: #E5E5E5;
	padding-top: 50px;
}
.calculator__block {
	width: 100%;
	&__title {
		font-family: $robotoC;
		line-height: 36px;
		color: #0D1F2E;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 15px;
		@media screen and (min-width: $mobile-sm) {
			font-size: 25px;
		}
		@media screen and (min-width: $landscape-sm) {
			font-size: 30px;
		}
		@media screen and (min-width: $desktop) {
			font-size: 36px;
		}
	}
	&__offer {
		width: 100%;
		font-size: 20px;
		line-height: 26px;
		color: #0D1F2E;
		font-weight: 500;
		margin-top: 0;
		margin-bottom: 40px;
	}
	&__image {
		width: 100%;
		text-align: center;
		margin-bottom: 30px;
		img {
			width: 100%;
			max-width: 430px;
		}
	}
	&__price__link {
		display: block;
		width: 100%;
		position: relative;
		padding-left: 50px;
		margin-bottom: 40px;
		font-family: $robotoC;
		font-size: 18px;
		line-height: 18px;
		color: #0D1F2E;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
		&::before {
			content: '';
			position: absolute;
			width: 39px;
			height: 43px;
			background-image: url(../img/download-pdf-icon.svg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			top: -12px;
			left: 0;
		}
	}
	&__attention {
		width: 100%;
		margin-top: 0;
		margin-bottom: 40px;
		font-family: $robotoC;
		font-size: 16px;
		line-height: 21px;
		color: #0D1F2E;
		font-weight: bold;
		@media screen and (min-width: $landscape-lg) {
			max-width: 420px;
		}
	}
}
/*Calculator form*/
.calculator__form {
	width: 100%;
	max-width: 495px;
	margin: 0 auto;
	background-color: #F2F2F2;
	box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
	padding: 15px 20px;
	font-family: $robotoC;
	@media screen and (min-width: $landscape-lg) {
		padding: 30px 40px;
	}
	.form__row {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 25px;
		label {
			display: block;
			width: 100%;
			font-size: 18px;
			line-height: 18px;
			color: #0D1F2E;
			margin-bottom: 15px;
			@media screen and (min-width: $landscape-sm) {
				max-width: 100px;
				text-align: right;
				margin-bottom: 0;
			}
			@media screen and (min-width: $landscape-lg) {
				text-align: left;
				margin-bottom: 10px;
			}
			@media screen and (min-width: $desktop) {
				text-align: right;
				margin-bottom: 0;
			}
		}
		input[type="checkbox"] {
			display: none;
			&:checked {
				+ label {
					&::after {
						opacity: 1;
					}
				}
			}
			+ label {
				max-width: 100%;
				position: relative;
				margin-left: 35px;
				text-align: left;
				cursor: pointer;
				@media screen and (min-width: $landscape-sm) {
					margin-left: 150px;
				}
				&::before {
					content: '';
					position: absolute;
					width: 20px;
					height: 20px;
					background-color: #fff;
					top: -2px;
					left: -35px;
				}
				&::after {
					content: '';
					position: absolute;
					width: 14px;
					height: 9px;
					border-left: 3px solid #2F4557;
					border-bottom: 3px solid #2F4557;
					transform: rotate(-45deg);
					top: 2px;
    			left: -32px;
    			opacity: 0;
    			transition: all 0.2s linear;
				}
			}
		}
		.input__wrap {
			width: 100%;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			> span {
				margin-bottom: 10px;
				@media screen and (min-width: $landscape-sm) {
					margin-bottom: 0;
				}
			}
			@media screen and (min-width: $landscape-sm) {
				max-width: 300px;
				justify-content: space-between;
			}
			input[type="number"] {
				width: 100%;
				display: block;
				margin-bottom: 10px;
				position: relative;
				padding: 9px 20px 9px 15px;
				background-color: #fff;
				border: none;
				outline: none;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
				font-size: 18px;
				line-height: 18px;
				color: #0D1F2E;
				&.full {
					max-width: 100%;
				}
				@media screen and (min-width: $landscape-sm) {
					max-width: 134px;
					margin-bottom: 0;
				}
				&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
			}
		}
		.price {
			width: 100%;
			padding-top: 20px;
			padding-left: 55px;
			border-top: 2px solid #C5C5C5;
			font-family: $robotoC;
			font-size: 18px;
			line-height: 18px;
			color: #0D1F2E;
			margin-top: 0;
			margin-bottom: 40px;
			strong {
				font-size: 30px;
				line-height: 30px;
				padding-left: 15px;
			}
		}
	}
}
.increment__wrap {
	position: absolute;
	top: 0;
	right: 0;
	width: 43px;
	height: 41px;
	border-left: 1px solid #C4C4C4;
	z-index: 10;
	button {
		display: block;
		position: relative;
		width: 43px;
		height: 20px;
		padding: 0;
		background-color: #fff;
		border: none;
		outline: none;
		border-bottom: 1px solid #C4C4C4;
		cursor: pointer;
		transition: all 0.3s linear;
		&:hover {
			background-color: #2f4557;
			&.increment__up {
				&::before {
					border-color: transparent transparent #fff transparent;
				}
			}
			&.increment__down {
				&::before {
					border-color: #fff transparent transparent transparent;
				}
			}
		}
		&.increment__up {
			&::before {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 7px 10px 7px;
				border-color: transparent transparent #2f4557 transparent;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		&.increment__down {
			&::before {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 10px 7px 0 7px;
				border-color: #2f4557 transparent transparent transparent;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		&:last-of-type {
			border-bottom: none;
		}
	}
}
.calculator__form__btn {
	display: block;
	width: 100%;
	max-width: 262px;
	margin: 0 auto;
	margin-bottom: 30px;
	border: none;
	outline: none;
	border-bottom: 5px solid #B6720D;
	background-color: #FDB715;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
	text-align: center;
	font-family: $robotoC;
	font-size: 20px;
	line-height: 24px;
	color: #0D1F2E;
	padding-top: 11px;
	padding-bottom: 11px;
	cursor: pointer;
}
.calculator__form__attention {
	font-family: $robotoC;
	font-size: 14px;
	line-height: 18px;
	color: #686868;
	margin-top: 0;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	span {
		position: relative;
		margin-right: 32px;
		&::after {
			content: '';
			position: absolute;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background-color: #FDB715;
			top: 5px;
    	right: -18px;
		}
		&:last-of-type {
			margin-right: 0;
			&::after {
				display: none;
			}
		}
	}
}
/*Styling selectmenu*/
.ui-selectmenu-button.ui-button {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	border-radius: 0;
	position: relative;
	padding: 9px 20px 9px 15px;
	background-color: #fff;
	border: none;
	outline: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
	font-family: $robotoC;
	font-size: 18px;
	line-height: 18px;
	color: #0D1F2E;
}
.ui-button .ui-icon {
	position: relative;
	background-image: none;
	&::before {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 7px 0 7px;
		border-color: #2f4557 transparent transparent transparent;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
/*Styling selectmenu END*/
/*Calculator form END*/
/*Calculator block END*/

/*Insta block*/
.insta__block {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #fff;
	&__title {
		font-family: $robotoC;
		font-size: 25px;
		line-height: 1.2em;
		text-align: center;
		font-weight: bold;
		color: #0D1F2E;
		text-transform: uppercase;
		margin-bottom: 30px;
		@media screen and (min-width: $landscape-sm) {
			font-size: 36px;
		}
	}
	span {
		font-family: $roboto;
		display: block;
		margin-top: 13px;
		font-size: 26px;
		font-weight: 500;
		text-transform: none;
	}
	&__elements {
		width: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: space-around;
		flex-wrap: wrap;
		@media screen and (min-width: $desktop) {
			justify-content: flex-start;
		}
	}
	&__element {
		width: 280px;
		height: 280px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 15px;
		@media screen and (min-width: $desktop) {
			margin-bottom: 6px;
			margin-right: 6px;
			&:nth-of-type(4n) {
				margin-right: 0;
			}
		}
		&__image {
			width: 100%;
		}
	}
	&__more__btn {
		display: block;
		width: 100%;
		max-width: 262px;
		margin: 0 auto;
		margin-top: 40px;
		margin-bottom: 10px;
		border: 0;
		outline: none;
		border-bottom: 5px solid #27343E;
		background-color: #4A535A;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
		padding-top: 11px;
		padding-bottom: 11px;
		text-align: center;
		font-family: $robotoC;
		font-size: 20px;
		line-height: 20px;
		color: #fff;
		cursor: pointer;
	}
}
.insta__block__more__btn__wrap {
	width: 100%;
}
/*About block*/
.about__block {
	width: 100%;
	// max-width: 1280px;
	// margin: 0 auto;
	&__row {
		width: 100%;
		margin-bottom: 6px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		@media screen and (min-width: $landscape-lg) {
			align-items: stretch;
			justify-content: space-between;
			&:nth-of-type(even) {
				.about__block__image {
					order: 2;
				}
				.about__block__text {
					order: 1;
				}
			}
		}
		@media screen and (min-width: $desktop-hd) {
			max-height: 250px;
		}
	}
	&__image {
		width: 100%;
		margin-bottom: 15px;
		@media screen and (min-width: $landscape-lg) {
			max-width: 50%;
			margin-bottom: 0;
		}
		@media screen and (min-width: 1280px) {
			// max-width: 456px;
			max-width: 33%;
		}
		img {
			width: 100%;
			@media screen and (min-width: $landscape-lg) {
				height: 100%;
			}
		}
	}
	&__text {
		width: 100%;
		margin-bottom: 15px;
		background-color: #FDB715;
		padding: 30px 40px;
		@media screen and (min-width: $landscape-lg) {
			max-width: 50%;
			margin-bottom: 0;
		}
		@media screen and (min-width: 1280px) {
			// max-width: 818px;
			max-width: 67%;
		}
		&__p {
			font-family: $roboto;
			font-size: 16px;
			line-height: 21px;
			margin-top: 0;
			margin-bottom: 20px;
			color: #0D1F2E;
			&.--large-font {
				font-size: 20px;
				line-height: 26px;
				font-weight: 500;
			}
		}
		&__list {
			margin: 0;
			padding: 0;
			list-style-type: none;
			@media screen and (min-width: $landscape-lg) {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				flex-wrap: wrap;
				max-height: 200px;
			}
			@media screen and (min-width: 1300px) {
				max-height: 125px;
			}
			li {
				position: relative;
				width: 100%;
				font-size: 16px;
				line-height: 20px;
				color: #0D1F2E;
				margin-bottom: 9px;
				padding-left: 20px;
				@media screen and (min-width: $landscape-lg) {
					max-width: 50%;
				}
				&::before {
					content: '';
					position: absolute;
					width: 8px;
					height: 8px;
					border-radius: 50%;
					background-color: #0D1F2E;
					top: 6px;
					left: 0;
				}
			}
		}
	}
	&__title {
		font-family: $robotoC;
		font-weight: bold;
		font-size: 25px;
		line-height: 1.2em;
		color: #0D1F2E;
		text-transform: uppercase;
		margin-bottom: 25px;
		@media screen and (min-width: $landscape-lg) {
			font-size: 36px;
		}
	}
}
/*About block END*/

/*Equip and advantages block*/
.uquip__advantages__block {
	width: 100%;
	// max-width: 1280px;
	// margin: 0 auto;
	background-color: #fff;
	&__tabs {
		width: 100%;
	}
}
.uquip__advantages__tabs__list {
	width: 100%;
	max-width: 1140px;
	border-bottom: 2px solid #e5e5e5;
	margin: 0 auto;
	padding: 0;
	padding-top: 50px;
	padding-bottom: 50px;
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	@media screen and (min-width: $landscape-sm) {
		justify-content: center;
	}
	li {
		width: 100%;
		max-width: 300px;
		margin-bottom: 25px;
		background-color: #4A535A;
		border-bottom: 5px solid #27343E;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
		padding-top: 15px;
		padding-bottom: 15px;
		font-family: $robotoC;
		font-size: 20px;
		line-height: 25px;
		color: #fff;
		text-align: center;
		cursor: pointer;
		transition: all 0.3s linear;
		&:hover,
		&.active {
			background-color: #FDB715;
			color: #26343F;
			border-color: #B6720D;
		}
		@media screen and (min-width: $landscape-sm) {
			max-width: 360px;
			margin-right: 30px;
			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}
.uquip__advantages__tabs__content {
	width: 100%;
}
.equip__tabs__title {
	width: 100%;
	font-family: $robotoC;
	font-size: 25px;
	line-height: 1.2em;
	padding-top: 22px;
	padding-bottom: 22px;
	color: #0D1F2E;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	@media screen and (min-width: $landscape-sm) {
		font-size: 36px;
	}
}
.equip__tabs__video__container {
	display: none;
	position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  @media screen and (min-width: $landscape-sm) {
  	display: block;
  	padding-bottom: 0;
  	height: 415px;
	}
}
.equip__tabs__video__item {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  @media screen and (min-width: $landscape-sm) {
  	top: -200px;
  	height: 200%;
  }
  @media screen and (min-width: 1600px) {
		height: 250%;
  }
  @media screen and (min-width: $desktop-hd) {
		height: 300%;
  }
}
.equip__tabs__video__text {
	position: absolute;
	width: 100%;
	// max-width: 750px;
	height: 100%;
	max-height: 138px;
	padding-left: 75px;
	top: 0;
	left: 0%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: $robotoC;
	font-size: 20px;
	line-height: 35px;
	color: #fff;
	z-index: 10;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.5);
	@media screen and (min-width: $landscape-sm) {
		font-size: 30px;
		padding-left: 110px;
		// left: 30%;
	}
	p {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			width: 10px;
			height: 59px;
			background-color: #FDB715;
			transform: translateY(-50%);
			top: 50%;
			left: -45px;
			// @media screen and (min-width: $landscape-lg) {
			// 	left: 70px;
			// }
		}
	}
}
.equip__tabs__slider {
	width: 100%;
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: rgba(0, 0, 0, 0.07);
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	&__item__wrap {
		width: 100%;
		max-width: 206px;
		margin-bottom: 15px;
		outline: none;
		@media screen and (min-width: $desktop) {
			margin-bottom: 0;
		}
	}
	&__item {
		width: 100%;
		position: relative;
		cursor: pointer;
		padding: 0px 10px;
		@media screen and (min-width: $landscape-lg) {
		&:hover {
			.equip__tabs__slider__item__image {
					&::after {
						transform: translateY(0px) scaleY(1);
			    	opacity: 1;
					}
				}
			}
		}
		&__image {
			width: 100%;
			position: relative;
			text-align: center;
			margin-bottom: 10px;
			min-height: 130px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    &::after {
	    	content: 'Подробнее >';
	    	position: absolute;
	    	display: flex;
	    	align-items: center;
	    	justify-content: center;
	    	width: 100%;
	    	height: 100px;
	    	font-size: 14px;
	    	line-height: 16px;
	    	color: #0d1f2e;
	    	font-weight: bold;
	    	background-color: #fdb715;
		    bottom: -115px;
		    left: 0;
		    transform: translateY(-25px) scaleY(0);
		    opacity: 0;
		    transition: all linear 0.35s;
	    }
			img {
				max-width: 200px;
			}
		}
		&__descr {
			width: 100%;
		}
		&__title {
			width: 100%;
			font-size: 16px;
			line-height: 20px;
			text-align: center;
			color: #000;
			font-weight: 500;
			border-top: 5px solid #FDB715;
			padding-top: 15px;
			padding-bottom: 15px;
		}
		&__text {
			display: none;
			width: 100%;
			line-height: 23px;
			font-size: 16px;
			color: #0D1F2E;
		}
	}
}
.equip__tabs__slider__wrap {
	position: relative;
	width: 100%;
	&.slicked {
		width: 100%;
		max-width: 1000px;
		position: fixed;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		z-index: 160;
		background-color: #FFF;
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
		padding: 35px 30px;
		@media screen and (min-width: $landscape-lg) {
			padding: 70px 60px;
		}
		.equip__tabs__slider__close {
			display: block;
		}
	}
}
.equip__tabs__slider {
	&.slick-slider {
		background-color: #fff;
		padding: 0;
		.equip__tabs__slider__item__wrap {
			max-width: 100%;
			margin-bottom: 0;
		}
		.equip__tabs__slider__item {
			display: flex;
			width: 100%;
			align-items: center;
			justify-content: space-around;
			flex-wrap: wrap;
			@media screen and (min-width: $mobile-sm) {
				height: 450px;
		    overflow: hidden;
		    overflow-y: auto;
			}
			@media screen and (min-width: $landscape-lg) {
				height: auto;
				overflow: visible;
			}
		}
		.equip__tabs__slider__item__image {
			max-width: 500px;
			&::after {
				display: none;
			}

			img {
				width: 100%;
				max-width: 500px;

				@media screen and (min-width: $mobile) {
					width: 75%;
				}

				@media screen and (min-width: $landscape-lg) {
					width: 100%;
				}
			}
		}
		.equip__tabs__slider__item__descr {
			max-width: 320px;
		}
		.equip__tabs__slider__item__title {
			border-top: none;
			border-bottom: 5px solid #FDB715;
			font-family: $robotoC;
			padding-top: 0;
			padding-bottom: 20px;
			font-size: 26px;
			line-height: 36px;
			font-weight: bold;
			text-align: left;
			text-transform: uppercase;
			color: #26343F;
			margin-bottom: 30px;
		}
		.equip__tabs__slider__item__text {
			display: block;
		}
		.slick-next, .slick-prev {
			width: 26px;
			height: 100%;
			top: 50%;
			z-index: 3;
			@media screen and (min-width: $landscape-sm) {
				width: 40px;
			}
			&.slick-disabled {
				opacity: 0.25;
				pointer-events: none;
			}
			&::before,
			&::after {
				content: "";
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 18px;
				height: 3px;
				background-color: #2f4557;
				opacity: 1;
			}
		}
		.slick-prev {

			&::before {
				left: 0;
				transform: translateY(-50%) rotate(45deg);
			}

			&::after {
				left: 0;
				transform: translateY(-50%) rotate(-45deg);
				margin-top: -11px;
			}

			@media screen and (min-width: $mobile-sm) {
				left: -15px;
			}
			@media screen and (min-width: $landscape-sm) {
				left: -10px;
			}
			@media screen and (min-width: $landscape-lg) {
				left: -40px;
			}
		}
		.slick-next {

			&::before {
				right: 0;
				transform: translateY(-50%) rotate(-45deg);
			}

			&::after {
				right: 0;
				transform: translateY(-50%) rotate(45deg);
				margin-top: -11px;
			}


			@media screen and (min-width: $mobile-sm) {
				right: -15px;
			}
			@media screen and (min-width: $landscape-sm) {
				right: -10px;
			}
			@media screen and (min-width: $landscape-lg) {
				right: -40px;
			}
		}
	}
}
.equip__tabs__slider__close {
	display: none;
	position: absolute;
	width: 15px;
	height: 15px;
	top: 20px;
	right: 20px;
	cursor: pointer;
	z-index: 20;
	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 1px;
		height: 15px;
		background-color: #7F919F;
		top: 0;
		left: 50%;
	}
	&::before {
		transform: rotate(-45deg);
	}
	&::after {
		transform: rotate(45deg);
	}
}
/*Equip and advantages block END*/

/*Clients slider block*/
.clients__block {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	background-color: #fff;
	padding: 40px 20px;
	padding-bottom: 0;
	&__title {
		width: 100%;
		font-family: $robotoC;
		font-size: 25px;
		line-height: 1.2em;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		color: #0D1F2E;
		// margin-top: 20px;
		margin-bottom: 0px;
		@media screen and (min-width: $landscape-sm) {
			font-size: 36px;
		}
		// @media screen and (min-width: $landscape-lg) {
		// 	margin-bottom: 30px;
		// }
	}
	&__slider {
		width: 100%;
		max-width: 1140px;
		margin: 0 auto;
		// margin-bottom: 20px;
		&__item {
			text-align: center;
			img {
				@media screen and (min-width: $mobile-sm) {
					width: 100%;
					max-width: 300px;
					margin: 0 auto;
				}
				@media screen and (min-width: $desktop) {
					max-width: 150px;
				}
			}
		}
		.slick-next, .slick-prev {
			width: 18px;
			height: 18px;
			top: 50%;
			&.slick-disabled {
				opacity: 0.25;
				pointer-events: none;
			}
			&::before {
				display: none;
			}
		}
		.slick-prev {
			border-left: 3px solid #2F4557;
			border-bottom: 3px solid #2F4557;
			transform: rotate(45deg) translateY(-50%);
			@media screen and (min-width: $mobile-sm) {
				left: -10px;
			}
			@media screen and (min-width: $desktop) {
				left: -20px;
			}
		}
		.slick-next {
			border-right: 3px solid #2F4557;
			border-bottom: 3px solid #2F4557;
			transform: rotate(-45deg) translateY(-50%);
			@media screen and (min-width: $mobile-sm) {
				right: -10px;
			}
			@media screen and (min-width: $desktop) {
				right: -20px;
			}
		}
	}
}
/*Clients slider block END*/

/*Bottom contacts*/
.bottom__contacts {
	width: 100%;
	// max-width: 1280px;
	// margin: 0 auto;
	&__title {
		font-family: $robotoC;
		font-weight: bold;
		font-size: 27px;
		line-height: 1.2em;
		color: #0D1F2E;
		margin-bottom: 15px;
		@media screen and (min-width: $landscape-lg) {
			font-size: 36px;
		}
	}
	&__phone {
		display: block;
		font-family: $robotoC;
		font-weight: bold;
		font-size: 25px;
		line-height: 1.2em;
		color: #0D1F2E;
		margin-bottom: 10px;
		@media screen and (min-width: $landscape-lg) {
			font-size: 30px;
		}
	}
	&__email {
		display: block;
		font-family: $robotoC;
		font-size: 20px;
		line-height: 20px;
		color: #0D1F2E;
		margin-bottom: 30px;
	}
	&__adress,
	&__worktime,
	&__requisites {
		position: relative;
		font-family: $robotoC;
		font-size: 16px;
		line-height: 20px;
		color: #4A535A;
		margin-bottom: 15px;
		padding-left: 40px;
		&::before {
			content: '';
			position: absolute;
			width: 23px;
			height: 34px;
			background-image: url(../img/bottom-adress-gray.svg);
			background-position: center;
			background-size: 23px;
			background-repeat: no-repeat;
			top: 0;
			left: 0;
		}
	}
	&__worktime {
		&::before {
			top: 5px;
			width: 27px;
			height: 27px;
			background-image: url(../img/header-section-worktime-icon.svg);
			background-size: cover;
		}
	}
	&__requisites {
		&::before {
			display: none;
		}
	}
}
.bottom__contacts__wrap {
	padding: 20px 30px;
	background-color: rgba(0, 0, 0, 0.07);
	@media screen and (min-width: $landscape-lg) {
		padding: 40px 60px;
		height: 415px;
	}
}
/*Bottom contacts END*/
/*underlay styles*/
.underlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	z-index: 150;
	cursor: pointer;
}
.bottom__btns__wrap {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}
.bottom__btns {
	width: 100%;
	background-color: #fff;
	padding-top: 35px;
	padding-bottom: 35px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	@media screen and (min-width: $landscape-lg) {
		justify-content: center;
	}
	&__iframe {
		display: block;
		width: 100%;
		position: relative;
		max-width: 320px;
		margin-bottom: 25px;
		padding: 10px 70px;
		background-color: #4A535A;
		border-bottom: 5px solid #27343E;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
		font-family: $robotoC;
		font-size: 20px;
		line-height: 20px;
		color: #fff;
		text-align: center;
		&::before {
			content: '';
			position: absolute;
			width: 39px;
			height: 43px;
			background-image: url(../img/pdf-icon.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			top: 10px;
			left: 27px;
		}
		@media screen and (min-width: $landscape-lg) {
			max-width: 360px;
			margin: 0;
			margin-right: 30px;
			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}
.bottom__privacy {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	padding: 10px;

	@media screen and (min-width: 576px) {
		flex-direction: row;
	}

	&__link {
		display: block;
		width: 100%;
		max-width: 384px;
		margin: 0 auto;
		margin-bottom: 5px;
		font-family: $robotoC;
		font-size: 16px;
		line-height: 20px;
		text-align: center;
		color: #4A535A;

		@media screen and (min-width: 576px) {
			margin-bottom: 0;
		}
	}
}

/*Pop ups*/
.callback__popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 300px;
	padding: 20px;
	background-color: #F9B109;
	font-family: $robotoC;
	z-index: 155;
	@media screen and (min-width: $mobile-sm) and (max-width: $landscape-lg) {
		overflow: hidden;
		overflow-y: auto;
		height: auto;
		max-height: 100vh;
	}
	@media screen and (min-width: $landscape-sm) {
		 max-width: 402px;
		 padding: 40px 50px;
	}
	&__close {
		width: 15px;
		height: 15px;
		position: absolute;
		top: 20px;
		right: 20px;
		cursor: pointer;
		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 1px;
			height: 15px;
			background-color: #0D1F2E;
			top: 0;
			left: 50%;
		}
		&::before {
			transform: rotate(-45deg);
		}
		&::after {
			transform: rotate(45deg);
		}
	}
	&__title {
		font-size: 24px;
		line-height: 40px;
		font-weight: bold;
		text-align: center;
		color: #0D1F2E;
		margin-bottom: 10px;
		@media screen and (min-width: $landscape-sm) {
			font-size: 30px;
		}
	}
	&__text {
		font-size: 20px;
		line-height: 26px;
		text-align: center;
		color: #0D1F2E;
		margin-bottom: 20px;
		margin-top: 0;
		@media screen and (min-width: $landscape-sm) {
			font-size: 26px;
		}
	}
	&__form {
		input,
		textarea {
			display: block;
			width: 100%;
			max-width: 262px;
			margin: 0 auto;
			margin-bottom: 20px;
			border: none;
			outline: none;
			padding: 15px;
			background-color: #fff;
			font-size: 18px;
			color: #6D6D6D;
			font-style: italic;
			transition: all 0.3s linear;
			&::-webkit-input-placeholder {
				color: #6D6D6D;
			}
			&::-moz-placeholder {
				color: #6D6D6D;
			}
			&:-ms-input-placeholder {
				color: #6D6D6D;
			}
			&:-moz-placeholder {
				color: #6D6D6D;
			}
			&.error {
				box-shadow: inset 0 0 0 2px #FF3941;
				&::-webkit-input-placeholder {
					color: #FF3941;
				}
				&::-moz-placeholder {
					color: #FF3941;
				}
				&:-ms-input-placeholder {
					color: #FF3941;
				}
				&:-moz-placeholder {
					color: #FF3941;
				}
			}
		}
		textarea {
			min-height: 100px;
			font-size: 16px;
		}
	}
	&__submit {
		display: block;
		width: 100%;
		max-width: 262px;
		margin: 0 auto;
		margin-bottom: 15px;
		padding: 12px 20px;
		background-color: #E1171F;
		border: none;
		outline: none;
		border-bottom: 5px solid #B01D23;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
		text-align: center;
		font-size: 20px;
		line-height: 20px;
		color: #fff;
		cursor: pointer;
		transition: all 0.3s linear;
		&:hover {
			background-color: #4A535A;
			border-color: #27343E;
		}
	}
	&__policy {
		width: 100%;
		max-width: 262px;
		margin: 0 auto;
		font-size: 14px;
		line-height: 16px;
		color: #464646;
		font-style: italic;
		text-align: center;
		@media screen and (min-width: $landscape-sm) {
			text-align: left;
		}
	}
	&.--first-order {
		background-color: #E1171F;
		.callback__popup__close {
			&::before,
			&::after {
				background-color: #fff;
			}
		}
		.callback__popup__title {
			color: #fff;
		}
		.callback__popup__submit {
			background-color: #FDB715;
			border-color: #B5720D;
			color: #0D1F2E;
			&:hover {
				background-color: #4A535A;
				border-color: #27343E;
				color: #fff;
			}
		}
		.callback__popup__policy {
			color: #fff;
		}
	}
	&.--thanks {
		border: 2px solid #fff;
	}
}
.advantages__list {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	&__title {
		width: 100%;
		background-color: #4A535A;
		padding: 20px 30px;
		font-family: $robotoC;
		font-size: 27px;
		line-height: 1.2em;
		color: #FFF;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 5px;
		@media screen and (min-width: $landscape-lg) {
			font-size: 36px;
			padding: 40px 60px;
		}
	}
	&__item {
		width: 100%;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100px;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 100px;
		background-color: #FDB715;
		margin-bottom: 5px;
		font-family: $robotoC;
		font-size: 18px;
		line-height: 20px;
		color: #0D1F2E;
		&:nth-of-type(1) {
			p {
				&::before {
					width: 62px;
					height: 62px;
					background-image: url(../img/advantages-icon1.svg);
					left: -80px;
				}
			}
		}
		&:nth-of-type(2) {
			p {
				&::before {
					width: 58px;
					height: 48px;
					background-image: url(../img/advantages-icon2.svg);
					left: -75px;
				}
			}
		}
		&:nth-of-type(3) {
			p {
				&::before {
					width: 50px;
					height: 50px;
					background-image: url(../img/advantages-icon3.svg);
					left: -70px;
				}
			}
		}
		&:nth-of-type(4) {
			p {
				&::before {
					width: 49px;
					height: 43px;
					background-image: url(../img/advantages-icon4.svg);
					left: -70px;
				}
			}
		}
		&:nth-of-type(5) {
			p {
				&::before {
					width: 40px;
					height: 49px;
					background-image: url(../img/advantages-icon5.svg);
					left: -55px;
				}
			}
		}
		&:nth-of-type(6) {
			p {
				&::before {
					width: 40px;
					height: 59px;
					background-image: url(../img/advantages-icon6.svg);
					left: -60px;
				}
			}
		}
		&:nth-of-type(even) {
			background-color: #4A535A;
			color: #fff;
		}
		@media screen and (min-width: $landscape-sm) {
			max-width: 50%;
			&:nth-of-type(odd) {
				&::after {
					content: '';
					position: absolute;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 50px 0 50px 50px;
					border-color: transparent transparent transparent #fdb715;
					top: 0;
					right: -49px;
					z-index: 2;
				}
			}
		}
		@media screen and (min-width: $landscape-lg) {
			min-height: 115px;
			padding-top: 20px;
			padding-bottom: 20px;
			&:nth-of-type(odd) {
				&::after {
					content: '';
					position: absolute;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 57.5px 0 57.5px 60px;
					border-color: transparent transparent transparent #fdb715;
					top: 0;
					right: -59px;
					z-index: 2;
				}
			}
		}
		@media screen and (min-width: $desktop) {
			max-width: 35%;
			padding-left: 170px;
			&:nth-of-type(2),
			&:nth-of-type(5) {
				max-width: 30%;
			}
			&:nth-of-type(even) {
				&::after {
					content: '';
					position: absolute;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 57.5px 0 57.5px 60px;
					border-color: transparent transparent transparent #4A535A;
					top: 0;
					right: -59px;
					z-index: 2;
				}
			}
			&:nth-of-type(3),
			&:nth-of-type(6) {
				&::after {
					display: none;
				}
			}
		}
		p {
			width: 100%;
			max-width: 200px;
			margin: 0;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				background-position: center;
				background-size: cover;
				transform: translateY(-50%);
				top: 50%;
				left: 0;
			}
			@media screen and (min-width: $landscape-sm) {
				max-width: 230px;
			}
			@media screen and (min-width: $landscape-lg) {
				max-width: 250px;
			}
		}
	}
}
/*static menu mobile*/
.menu__wrap {
	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		width: 100%;
		background-color: #fff;
		box-shadow: 0 9px 7.92px 0.08px rgba(0,0,0,.2);

		.container {
			position: relative;
			z-index: 1;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				width: 3000px;
				height: 54px;
				background-color: #4a535a;
				left: -1430px;
			}
		}

		.mob__menu {
			margin-top: 0;
		}

		.mob__menu__side__content {
			display: flex;

			@media screen and (min-width: 1024px) {
				display: none;
			}
		}
	}
}
/*static menu mobile END*/

/*Static menu desktop*/
.static__scrolled__menu__wrap {
	position: absolute;
	width: 100%;
	background-color: #4a535a;
	transition: all 0.4s linear;
	transform: translateY(-100%) scaleY(0);
	opacity: 0;
	top: 0;
	left: 0;
	@media screen and (min-width: $mobile-sm) and (max-width: $landscape-lg) {
		display: none !important;
	}
	&.opened {
		position: fixed;
		top: 0;
		left: 0;
		opacity: 1;
		transform: translateY(0) scaleY(1);
		z-index: 100;
	}
}
.static__scrolled__menu {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 15px 0;
	.menu {
		padding: 0;
		margin-top: 0;
		.menu__item {
			color: #fff;
			margin: 0 12px;

			@media screen and (min-width: $desktop) {
				margin: 0;
				margin-right: 45px;
			}

			&:last-of-type {
				margin-right: 0;
			}
			&:hover {
				color: #fdb715;
			}

			&.special {

				&::before {
					width: 70px;
    				left: -12px;

					@media screen and (min-width: $desktop) {
						width: 93px;
    					left: -24px;
					}
				}
			}

			&.mob__hide {
				display: none;

				@media screen and (min-width: 1024px) {
					display: block;
				}
			}
		}
	}
	.header__section__callback__btn {
		font-family: $robotoC;
	}
}
/*Static menu desktop END*/

/*Product types images*/

.products__types__images__wrap {
	width: 900px;
	min-height: 630px;
	margin: 0 auto;

	@media screen and (min-width: $desktop) {
		min-height: 700px;
	}

	&.shop__images {
		min-height: 507px;

		@media screen and (min-width: $desktop) {
			min-height: 567px;
		}
	}
}

.products__types__images__item {
	position: absolute;
	top: 80px;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all ease .3s;

	&.main,
	&.detail,
	&.facade,
	&.counter,
	&.counter__small,
	&.counter__big {
		opacity: 1;
	}

	&.detail {
		z-index: 3;
	}

	&.hover {
		opacity: .6;
	}

	&.active {
		opacity: 1;
	}
}

.products__types__image {
	display: block;
	margin: 0 auto;
	max-width: 680px;

	@media screen and (min-width: $desktop) {
		max-width: 750px;
	}
}

.shop__images {

	.main {

	}

	.facade {
		z-index: 7;
	}

	.counter {
		z-index: 5;
	}

	.counter__small {
		z-index: 4;
	}

	.counter__big {
		z-index: 3;
	}

	.pasting {
		z-index: 4;
	}

	.pasting__1 {
		z-index: 7;
	}

	.pasting__2 {
		z-index: 4;
	}

	.item-1 {

	}

	.item-2 {
		
	}

	.item-3 {
		z-index: 3;
	}

	.item-4 {
		
	}

	.item-5 {
		z-index: 8;
	}

	.item-6 {
		
	}

	.item-7 {
		
	}

	.item-8 {
		z-index: 8;
	}

	.item-9 {
		z-index: 2;
	}
}

.exhibition__images {

	.item-1 {
		z-index: 7;
	}

	.item-2 {
		z-index: 3;
	}

	.item-3 {
		z-index: 3;
	}

	.item-4 {
		z-index: 3;
	}

	.item-5 {
		z-index: 3;
	}

	.item-6 {
		z-index: 3;
	}

	.item-7 {
		z-index: 7;
	}

	.item-8 {
		z-index: 3;
	}

	.item-9 {
		z-index: 3;
	}
}

.shop__switches {

	.item-1 {
		bottom: 120px;
		left: -40px;

		&::after {
		    right: -135px;
		    top: 8px;
		    width: 130px;
		    height: 1px;
		}
	}

	.item-2 {
		bottom: 252px;
		left: 51px;

		&::before {
		    top: 2px;
		    left: 64px;
		    width: 1px;
		    height: 13px;
		    transform: rotate(90deg);
		}
	}

	.item-3 {
		top: 35px;
		left: 143px;

		&::after {
		    bottom: -244px;
		    left: 87px;
		    width: 1px;
		    height: 240px;
		}
	}

	.item-4 {
		top: 20px;
		right: 325px;

		&::after {
		    top: 25px;
		    left: 103px;
		    width: 1px;
		    height: 175px;
		}
	}

	.item-5 {
		top: 35px;
		right: 136px;

		&::before {
		    top: 9px;
		    left: -76px;
		    width: 1px;
		    height: 70px;
		}

		&::after {
		   	top: -26px;
		    left: -41px;
		    width: 1px;
		    height: 70px;
		    transform: rotate(90deg);
		}
	}

	.item-6 {
		right: 25px;
		top: 250px;

		&::before {
		    top: -105px;
		    left: 10px;
		    width: 1px;
		    height: 60px;
		    transform: rotate(90deg);
		}

		&::after {
		    top: -75px;
		    left: 40px;
		    width: 1px;
		    height: 65px;
		}

		.products__types__switch__info {

			&::before {
				top: -34px;
			    left: -18px;
			    width: 1px;
			    height: 117px;
			    transform: rotate(90deg);
			}

			&::after {
				top: 4px;
			    left: 40px;
			    width: 1px;
			    height: 20px;
			}
		}
	}

	.item-7 {
		right: -46px;
		bottom: 135px;

		&::before {
		    top: -47px;
		    left: -59px;
		    width: 1px;
		    height: 110px;
		    transform: rotate(90deg);
		}
	}

	.item-8 {
		right: 145px;
		bottom: 0px;

		&::before {
		    top: -62px;
		    left: -207px;
		    width: 1px;
		    height: 70px;
		}

		&::after {
		    top: -92px;
		    left: -107px;
		    width: 1px;
		    height: 200px;
		    transform: rotate(90deg);
		}
	}

	.item-9 {
		left: 140px;
		bottom: 0px;

		&::before {
		    top: -172px;
		    left: 313px;
		    width: 1px;
		    height: 182px;
		}

		&::after {
		    top: -11px;
		    left: 293px;
		    width: 1px;
		    height: 40px;
		    transform: rotate(90deg);
		}
	}

	@media screen and (min-width: $desktop) {

		.item-1 {
			bottom: 140px;
			left: -10px;

			&::after {
			    right: -170px;
			    top: 10px;
			    width: 162px;
			    height: 1px;
			}
		}

		.item-2 {
			bottom: 292px;
			left: 93px;

			&::before {
			    top: -8px;
			    left: 81px;
			    width: 1px;
			    height: 35px;
			    transform: rotate(90deg);
			}
		}

		.item-3 {
			top: 35px;
			left: 205px;

			&::after {
			    bottom: -264px;
			    left: 105px;
			    width: 1px;
			    height: 260px;
			}
		}

		.item-4 {
			top: 20px;
			right: 410px;

			&::after {
			    top: 25px;
			    left: 113px;
			    width: 1px;
			    height: 192px;
			}
		}

		.item-5 {
			top: 35px;
			right: 210px;

			&::before {
			    top: 9px;
			    left: -76px;
			    width: 1px;
			    height: 70px;
			}

			&::after {
			   	top: -26px;
			    left: -41px;
			    width: 1px;
			    height: 70px;
			    transform: rotate(90deg);
			}
		}

		.item-6 {
			right: 70px;
			top: 250px;

			&::before {
			    top: -113px;
			    left: 2px;
			    width: 1px;
			    height: 77px;
			}

			.products__types__switch__info {

				&::before {
					top: -25px;
				    left: -29px;
				    width: 1px;
				    height: 138px;
				    transform: rotate(90deg);
				}

				&::after {
					top: 4px;
				    left: 40px;
				    width: 1px;
				    height: 40px;
				}
			}
		}

		.item-7 {
			right: -33px;
			bottom: 190px;

			&::before {
			    top: -69px;
			    left: -85px;
			    width: 1px;
			    height: 160px;
			    transform: rotate(90deg);
			}
		}

		.item-8 {
			right: 219px;
			bottom: 5px;

			&::before {
			    top: -71px;
			    left: -224px;
			    width: 1px;
			    height: 80px;
			}

			&::after {
			    top: -99px;
			    left: -116px;
			    width: 1px;
			    height: 215px;
			    transform: rotate(90deg);
			}
		}

		.item-9 {
			left: 200px;
			bottom: 5px;

			&::before {
			    top: -199px;
			    left: 345px;
			    width: 1px;
			    height: 208px;
			}

			&::after {
			    top: -11px;
			    left: 325px;
			    width: 1px;
			    height: 40px;
			    transform: rotate(90deg);
			}
		}
	}
}

.products__types__switches__item {
	position: absolute;
	z-index: 9;
	transition: all ease .3s;

	&:hover,
	&.active {

		&::before,
		&::after {
			background-color: #3A4459;
		}

		.products__types__switch {
			color: #19202B;
		}

		.products__types__switch__info {
			color: #19202B;

			&::before,
			&::after {
				background-color: #3A4459;
			}
		}
	}

	&::before,
	&::after {
		content: "";
		display: block;
		position: absolute;
		background-color: #9B9B9B;
		z-index: 9;
		transition: all ease .3s;
	}
}

.products__types__switch__info {
	&::before,
	&::after {
		content: "";
		display: block;
		position: absolute;
		background-color: #9B9B9B;
		z-index: 9;
		transition: all ease .3s;
	}
}

.exhibition__switches {

	.item-1 {
		bottom: 180px;
		left: 35px;

		&::after {
		    right: -78px;
		    top: 9px;
		    width: 70px;
		    height: 1px;
		}
	}

	.item-2 {
		top: 35px;
		left: 150px;

		&::before {
		    top: -31px;
		    left: 140px;
		    width: 1px;
		    height: 80px;
		    transform: rotate(90deg);
		}

		&::after {
		    top: 9px;
		    left: 180px;
		    width: 1px;
		    height: 160px;
		}
	}

	.item-3 {
		top: 20px;
		left: 442px;

		&::after {
		    bottom: -304px;
		    left: 60px;
		    width: 1px;
		    height: 300px;
		}
	}

	.item-4 {
		top: 35px;
		right: 140px;

		&::before {
		    top: -16px;
		    left: -32px;
		    width: 1px;
		    height: 50px;
		    transform: rotate(90deg);
		}

		&::after {
		    top: 9px;
		    left: -57px;
		    width: 1px;
		    height: 245px;
		}
	}

	.item-5 {
		top: 230px;
		right: 55px;

		&::after {
		   	top: -14px;
		    left: -29px;
		    width: 1px;
		    height: 43px;
		    transform: rotate(90deg);
		}
	}

	.item-6 {
		left: 147px;
		bottom: -10px;

		&::before {
		    top: -40px;
		    left: 241px;
		    width: 1px;
		    height: 100px;
		    transform: rotate(90deg);
		}

		&::after {
		    top: -70px;
		    left: 291px;
		    width: 1px;
		    height: 80px;
		}
	}

	.item-7 {
		right: 135px;
		bottom: -10px;

		&::before {
		    top: -25px;
		    left: -40px;
		    width: 1px;
		    height: 70px;
		    transform: rotate(90deg);
		}

		&::after {
		    top: -70px;
		    left: -75px;
		    width: 1px;
		    height: 80px;
		}
	}

	.item-8 {
		right: -35px;
		bottom: 155px;

		&::after {
		    top: -36px;
		    left: -50px;
		    width: 1px;
		    height: 85px;
		    transform: rotate(90deg);
		}
	}

	@media screen and (min-width: $desktop) {

		.item-1 {
			bottom: 220px;
			left: 70px;

			&::after {
			    right: -110px;
			    top: 10px;
			    width: 105px;
			    height: 1px;
			}
		}

		.item-2 {
			top: 35px;
			left: 250px;

			&::before {
			    top: -30px;
			    left: 145px;
			    width: 1px;
			    height: 80px;
			    transform: rotate(90deg);
			}

			&::after {
			    top: 10px;
			    left: 185px;
			    width: 1px;
			    height: 175px;
			}
		}

		.item-3 {
			top: 20px;
			left: 550px;

			&::after {
			    bottom: -325px;
			    left: 60px;
			    width: 1px;
			    height: 320px;
			}
		}

		.item-4 {
			top: 35px;
			right: 200px;

			&::before {
			    top: -16px;
			    left: -32px;
			    width: 1px;
			    height: 50px;
			    transform: rotate(90deg);
			}

			&::after {
			    top: 9px;
			    left: -57px;
			    width: 1px;
			    height: 260px;
			}
		}

		.item-5 {
			top: 250px;
			right: 80px;

			&::after {
			   	top: -26px;
			    left: -41px;
			    width: 1px;
			    height: 70px;
			    transform: rotate(90deg);
			}
		}

		.item-6 {
			left: 250px;
			bottom: 5px;

			&::before {
			    top: -40px;
			    left: 241px;
			    width: 1px;
			    height: 100px;
			    transform: rotate(90deg);
			}

			&::after {
			    top: -70px;
			    left: 291px;
			    width: 1px;
			    height: 80px;
			}
		}

		.item-7 {
			right: 210px;
			bottom: 5px;

			&::before {
			    top: -25px;
			    left: -40px;
			    width: 1px;
			    height: 70px;
			    transform: rotate(90deg);
			}

			&::after {
			    top: -70px;
			    left: -75px;
			    width: 1px;
			    height: 80px;
			}
		}

		.item-8 {
			right: -20px;
			bottom: 190px;

			&::after {
			    top: -55px;
			    left: -71px;
			    width: 1px;
			    height: 130px;
			    transform: rotate(90deg);
			}
		}
	}
}

.office__switches {

	.item-1 {
		top: 35px;
		left: 163px;

		&::before {
		    top: 10px;
		    left: 118px;
		    width: 1px;
		    height: 270px;
		}

		&::after {
		    right: -55px;
		    top: 10px;
		    width: 50px;
		    height: 1px;
		}
	}

	.item-2 {
		top: 20px;
		left: 330px;

		&::after {
		    top: 24px;
		    left: 120px;
		    width: 1px;
		    height: 240px;
		}
	}

	.item-3 {
		top: 35px;
		left: 610px;

		&::before {
		    top: -8px;
		    left: -27px;
		    width: 1px;
		    height: 37px;
		    transform: rotate(90deg);
		}

		&::after {
		    top: 11px;
		    left: -45px;
		    width: 1px;
		    height: 255px;
		}
	}

	.item-4 {
		top: 300px;
		right: 30px;

		&::before {
		    top: -21px;
		    left: -36px;
		    width: 1px;
		    height: 55px;
		    transform: rotate(90deg);
		}
	}

	.item-5 {
		top: 400px;
		left: -24px;

		&::after {
		   	top: -27px;
		    left: 173px;
		    width: 1px;
		    height: 70px;
		    transform: rotate(90deg);
		}
	}

	.item-6 {
		right: 30px;
		bottom: 155px;

		&::before {
		    top: -37px;
		    left: -92px;
		    width: 1px;
		    height: 48px;
		}

		&::after {
		    left: -91px;
		    top: 10px;
		    width: 85px;
		    height: 1px;
		}
	}

	@media screen and (min-width: $desktop) {

		.item-1 {
			top: 35px;
			left: 240px;

			&::before {
			    top: 10px;
			    left: 126px;
			    width: 1px;
			    height: 300px;
			}

			&::after {
			    right: -55px;
			    top: 10px;
			    width: 50px;
			    height: 1px;
			}
		}

		.item-2 {
			top: 24px;
			left: 400px;

			&::after {
			    top: 24px;
			    left: 120px;
			    width: 1px;
			    height: 265px;
			}
		}

		.item-3 {
			top: 35px;
			left: 715px;

			&::before {
			    top: -8px;
			    left: -27px;
			    width: 1px;
			    height: 37px;
			    transform: rotate(90deg);
			}

			&::after {
			    top: 11px;
			    left: -45px;
			    width: 1px;
			    height: 280px;
			}
		}

		.item-4 {
			top: 300px;
			right: 70px;

			&::before {
			    top: -38px;
			    left: -54px;
			    width: 1px;
			    height: 95px;
			    transform: rotate(90deg);
			}
		}

		.item-5 {
			top: 400px;
			left: 0;

			&::after {
			   	top: -33px;
			    left: 195px;
			    width: 1px;
			    height: 85px;
			    transform: rotate(90deg);
			}
		}

		.item-6 {
			right: 70px;
			bottom: 190px;

			&::before {
			    top: -37px;
			    left: -120px;
			    width: 1px;
			    height: 48px;
			}

			&::after {
			    left: -120px;
			    top: 10px;
			    width: 115px;
			    height: 1px;
			}
		}
	}
}

.products__types__switch {
	font-family: $robotoC;
	font-size: 16px;
	font-weight: 700;
	color: #545E65;
	text-transform: uppercase;
	transition: all ease .3s;
	cursor: pointer;

	@media screen and (min-width: $desktop) {
		font-size: 18px;
	}
}

/*Product types images END*/

.copyright__texterra {
	display: flex;
	align-items: center;

	&__text {
		font-size: 14px;
    	line-height: 20px;
		color: #4a535a;
	}

	&__link {
		display: block;
		width: 90px;
		height: 30px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../img/logo-texterra.svg);
		background-size: 70px;
		margin-bottom: 8px;
	}
}